<div class="container">
        <div>
            <div class="col-md-6 card card-cascade narrower">
                <div class="view overlay hm-white-slight">
                    <img ng-src="{{item.item.image}}" class="img-fluid" alt=""  width="200" height="200" >
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <div class="card-block text-center">
                    <!--Category & Title-->
                    <a href="" class="text-muted"><h5> {{item.item.title}}</h5></a>
                    <a href="" class="text-muted"><h5> {{item.item.manufacturer}}</h5></a>
                    <h4 class="card-title"><strong><a href="">{{item.item.category}}</a></strong></h4>
                    <h4 class="card-title"><strong><a href="">€{{item.item.price}}</a></strong></h4>
                    <a data-toggle="tooltip" data-placement="top" title="Add to Cart">{{item.item.stockLevel}}<i class="fa fa-shopping-cart"></i></a>
                    <!--Rating-->
                    <ul class="rating">
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        {{item.item.rating}}
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span>
                        </div>
                    </ul>
                    <!--Description-->
                    <p class="card-text">
                    </p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="center">

                            <button ng-click="details(item)" >Add to Basket</button>
                      </span>
                    </div>
                </div>
            </div>
        </div>
</div>
