<div class="container">
        <div>
            <div class="col-md-6 card card-cascade narrower">
                <div class="view overlay hm-white-slight">
                    <img ng-src="{{item.item.image}}" class="img-fluid" alt=""  width="200" height="200" >
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <div class="card-block text-center">
                    <!--Category & Title-->
                    <a href="" class="text-muted"><h5> {{item.item.title}}</h5></a>
                    <a href="" class="text-muted"><h5> {{item.item.manufacturer}}</h5></a>
                    <h4 class="card-title"><strong><a href="">{{item.item.category}}</a></strong></h4>
                    <h4 class="card-title"><strong><a href="">€{{item.item.price}}</a></strong></h4>
                    <a data-toggle="tooltip" data-placement="top" title="Add to Cart">{{item.item.stockLevel}}<i class="fa fa-shopping-cart"></i></a>
                    <!--Rating-->
                    <ul class="rating">
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        {{item.item.rating}}
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span>
                        </div>
                    </ul>
                    <!--Description-->
                    <p class="card-text">
                    </p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="center">
                            <button ng-click="addItem(item)" >Add to Basket</button>
                      </span>
                    </div>
                </div>
            </div>
        </div>
</div>
<div></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8"  ng-repeat="comment in allComments">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <h5>Rating</h5>
                        <a><b>{{comment.comment.rating}}</b></a>
                    </div>
                </div>
                <div class="post-description" align="right">
                    <h5>Comment</h5>
                    <p>{{comment.comment.comment}} </p>

                </div>
            </div>
        </div>
    </div>
        <div class="md-form input-group">
            <span class="input-group-addon">Rating</span>
            <input type="number" class="form-control" ng-model="review.rating">
            <span class="input-group-addon">.00</span>
        </div>
        <div class="md-form">
          <input placeholder="Add Comment" type="text" id="form1" class="form-control" ng-model="review.comment">
        </div>
        <div class="text-center">
            <button class="btn btn-default" ng-click="addComment()">Submit</button>
        </div>
    </div>
</div>
